/** Base */
body {
	background-color: #222d32;
}

/** Sidebars **/
.sidebar, .control-sidebar {
	height: 100%;
}
.control-sidebar label {
	width: 100%;
}
#back_to_site, #logout {
	padding: 20px;
	display: block;
	float: left;
}

/** Filters **/
.filters {
	padding: 10px 15px;
}

/** Data Tables **/
.table_container {
	margin-right: 0px !important;
}

.results tr {
	cursor: pointer;
}

.item_edit_container {
	margin: 0 auto;
}

.item_edit_container .modal-content {
	position: absolute;
	padding: 30px;
	max-width: 100%;
}

.control_buttons {
	margin-top: 20px;
}

.control_buttons .btn-danger {
	margin-right: 10px;
}

.item_edit_container div.item_edit form.edit_form input[type="text"],
.item_edit_container div.item_edit form.edit_form input[type="password"],
.item_edit_container div.item_edit form.edit_form textarea,
.item_edit_container div.item_edit form.edit_form select, .item_edit_container div.item_edit form.edit_form input[type=hidden], .item_edit_container div.item_edit form.edit_form .select2-container {
	max-width: 100% !important;
	width: 100% !important;
}
.image_container img {
	width: 100%;
	max-width: 500px;
}

.item_edit_container .message.error {
	background: red;
	display: inline-block;
	width: 100%;
	clear: both;
	margin-top: 10px;
	color: #a94442;
	border-color: #a94442;
	background-color: #f2dede;
	padding: 5px;
}

.upload_container {
	margin-bottom: 10px;
}

.upload_container .uploader {
	background-color: #f7f7f7;
    border: 1px solid #ADADAD;
    width: 100px;
    text-align: center;
    padding: 5px;
}

.plupload input {
	cursor: pointer;
}


/** Select2 */
.select2-container .select2-choice {
	display: block;
	height: auto;
	padding: 3px 12px;
	overflow: hidden;
	position: relative;
	border: 1px solid #d2d6de;;
	white-space: nowrap;
	line-height: 26px;
	color: #444;
	text-decoration: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	user-select: none;
	background-color: #fff;
	background-image: none;
	filter: none;
}

.select2-container .select2-choice .select2-arrow {
	width: 18px;
	border-left: 1px solid #aaa;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	background: #fff;
	background-image: none;
	filter: none;
}

.box-header .box-title {
	display: inline-block;
	font-size: 18px;
	margin: 0;
	line-height: 1;
	margin-top: 5px;
}

.panel {
	margin-bottom: 0px;
	border: 0px;
}

/**	Actions **/
.actions {
	float: right;
}

/** Pagination **/
.page_container {
	margin-top: 20px;
}

.per_page {
	float: left;
	margin-top: 7px;
}

.paginator {
	float: right;
}

.paginator>input {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.paginator span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	text-decoration: none;
}

.paginator>.disabled,
.paginator>.disabled:focus,
.paginator>.disabled:hover,
.paginator>.disabled>span,
.paginator>.disabled>span:focus,
.paginator>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}


/** Menu Icons */

.sidebar-menu .menu>a:before, .sidebar-menu .item>a:before {
	font-family: 'FontAwesome';
	margin-right: 10px;
	width: 15px;
}
.menu-item-dashboard>a:before {
	content: '\f0e4';
}
.menu-item-content>a:before {
	content: '\f040';
}
.menu-item-directory>a:before {
	content: '\f0e8';
}
.menu-item-banners.treeview>a:before {
	content: '\f1ea';
}
.menu-item-scripts.treeview>a:before {
	content: '\f121';
}
.menu-item-users>a:before {
	content: '\f007';
}
.menu-item-orders>a:before {
	content: '\f02a';
}
.menu-item-email-templates>a:before {
	content: '\f003';
}
.menu-item-settingssite>a:before {
	content: '\f085';
}
.menu-item-messages>a:before {
	content: '\f0e5';
}
.menu-item-pageadminorder {
	display: none;
}


/** Fields */
.banner-script-field {
	max-height: 100px;
}
.has-image-field img, .has-image-field iframe, .has-image-field div {
	max-height: 100px;
}

/** Results  **/
.results th.sortable div:before {
    content: "\f0dc";
    display: block;
    font-family: 'FontAwesome';
    float: left;
    margin-right: 10px;
    font-weight: normal;
}
.model-status {
	text-align: center;
	display: block;
	width: 100%;
}
.model-status .status-approved:before {
	color: #0B900B;
	content: "\f00c";
}
.model-status .status-rejected:before {
	color: #EA6868;
	content: "\f00d";
}
.model-status .status-pending:before {
	color: #DCD13F;
    content: "\f017";
}
.model-status .status-suspended:before {
	color: #DCA64D;
	content: "\f04c";
}


/** Activity Log */
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
    margin: 0 0 0 0px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
    margin: 0 0 0 0px;
}
.activity.unread {
	background: #E5F8FF;
}

/** Flot Charts */
.legend {
	overflow: hidden;
    max-height: 192px;
    position: relative;
    height: 192px;
}
.legendLabel {
	color: #3d3d3d;
	padding-left: 10px;
}
.legendColorBox > div {
	border: 0px !important;
}
.legendColorBox > div > div {
	border-radius: 50%;
	border-width: 2px !important;
	height: 13px !important;
	width: 13px !important;
}
.chart-responsive {
	padding: 30px 0;
}

/** Dashboard */
.pending-items a {
	color: #3d3d3d;
}
.pending-items i {
	font-size: 20px;
}
.pending-items .description-text {
	text-transform: uppercase;
}
.pending-items .description-block {
	padding: 10px;
}
.pending-items h5 {
	font-size: 18px;
}