.section-header {
	border-bottom: $gray-lighter 1px solid;
	padding: 10px 0px;
	margin-bottom: 30px;
}
.no-margin-top, .no-margin-top .h3 {
	margin-top: 0px;
}
.page-header {
	margin-top: 0px;
	margin-bottom: 40px;
	position: relative;
	background-attachment: fixed;
	h1 {
		margin-top: 0px;
	}
	h2 {
		font-size: 18px;
		line-height: 1.6em;
	}
	.scroll-down {
		position: absolute;
		bottom: 20px;
		text-align: center;
		width: 100%;
		font-size: 40px;
		left:0px;
	}
}

.page-header-with-image {
	margin-top: 60px;
	padding: 3%;
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: -60px;
}
@media (max-width: $screen-md-min) {
	.page-header-home.page-header-with-image {
		padding: 15% 0% !important;
		img {
			max-width: 100px;
		}
	}
	.page-header-with-image {
			padding: 8% 0% !important;
	}
}
.page-header-home {
	text-align: center;
	background-image: url('/img/bg-home.jpg');
	padding: 5% 0;
}

.home #footer {
	margin-top: 0px;
}

.submit-article-container {
	text-align: center;
	background-image: url('/img/bg-home-article.jpg');
	padding: 6% 0;
	background-attachment: fixed;
	margin-top: 40px;
}

.page-header-scripts {
	text-align: center;
	background-image: url('/img/bg-scripts.jpg');
	padding: 5%;
}

.page-header-directory {
	text-align: center;
	background-image: url('/img/bg-directory.jpg');
	padding: 3%;
}

.page-header-profile {
	text-align: center;
	background-image: url('/img/bg-profile.jpg');
	padding: 5%;
}

.page-header-404 {
	text-align: center;
	background: #FDFDFD;
	h1 {
		font-size: 110px;
	}
	h2 {
		font-size: 23px;
	}
	p {
		max-width: 440px;
		margin: 20px auto;
	}
}
.error-404 {
	#main {
		display: none;
	}
}