.panel-login {
	margin-bottom: 100px;
	padding-bottom: 20px;

	.panel-heading {
		background: transparent;
	}
	h1 {
		font-size: 24px;
	}
	.btn {
		font-size: 13px;
	}
	.btn-default {
		margin-top: 10px;
	}

	.or-separator {
		margin: 30px 0 10px;
		height: 1px;
		background-color: #ccc;
		text-align: center;
		position: relative;
		.or-text {
			text-transform: uppercase;
			background-color: white; 
			top: -9px;
			font-size: 13px;
			padding: 0px 10px;
			position: relative;
		}
	}

	.social-connect {
		.btn {
			width: 100%;
			i {
				line-height: 17px;
				margin-right: 6px;
			}
		}
		.social-connect-facebook {
			background: #3B5998;
			border-color: #3B5998;
		}
		.social-connect-google {
			background: #d34836;
			border-color: #d34836;
		}
	}
}