.panel-payment-success, .panel-payment-failed, .panel-payment-canceled {
	.panel-heading {
		background: transparent;
		text-align: center;
	}
	.icon {
		margin-top: 5px;
		font-size: 34px;
		color: #7ECF98;
	}
}
.panel-payment-failed {
	.icon {
		color: #FF4F27;
	}
}
.panel-payment-canceled {
	.icon {
		color: #FFBF27;
	}
}