.user-info-box {
	margin-bottom: 40px;
	
	.user-info-avatar {
		text-align: center;
	}	
	.user-info {
		margin-bottom: 5px;
	}
	.section-header {
		position: relative;
	}
	.edit-profile-link {
		position: absolute;
		top: 21px;
		right: 0px;
	}
}
.nav-user {
	li {
		margin-bottom: 15px;
		.icon {
			margin-right: 20px;
		}
	}
}

.info-box {
	display: block;
	min-height: 110px;
	background: #fff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 2px;
	border: 1px solid $bg-light;
	margin-bottom: 15px;
	padding: 30px;
	i {
		font-size: 34px;
		line-height: 110px;
	}
}
.info-box-top {
	i {
		width: 100%;
		line-height: 2em;
		color: #4a4a4a;
	}
	text-align: center;
	.h2, .h4 {
		// color: #989898;
	}
}

#banner-stats-chart {
	width: 100%;
	height: 300px;
	.legendLabel {
		padding-left: 10px;
	}
}

#banner-stats-overview {
	margin-top: 20px;
	margin-left: 30px;
	height: 100px;
}

.banner-info-container {
	margin-top: 60px;
	margin-bottom: 60px;
}
.btn-add-credit {
	position: absolute;
	right: 15px;
	top: 0px;
}