/*
 * Colors
 */

$heading-font-color: #3c3c3c;
$body-font-color: #919191;
$bg-light: #f7f7f7;
$accent: #2d8180;
$border-color: #e7e7e7;
$selected-light: #F4F9F9;

/*
 * Fonts
 */

$body-font-family: 'Open Sans';
$heading-font-family: 'Raleway';
$heading-font-weight: 500;
$nav-font-family: 'Raleway';
$nav-font-weight: 500;

/*
 * Bootstrap
 */

$font-size-h1: 44px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 14px;
$grid-float-breakpoint: 1000px;
$navbar-height: 60;
$container-lg: 90%;
$navbar-default-toggle-border-color: transparent;
$navbar-default-bg: #fff;
$navbar-default-link-active-bg: #f3f3f3;
$link-color: $heading-font-color;
$link-hover-color: $accent;
$link-hover-decoration: none;
$brand-primary: $accent;
$btn-default-color: $heading-font-color;
$btn-default-border: #707070;
$btn-border-radius-base: 0px;