.btn {
	text-transform: uppercase;
	padding: 10px 20px;
	font-family: $heading-font-family;
	border-width: 2px;
	margin-top: 20px;
	letter-spacing: 1px;
}
.btn.btn-default {
	color: $heading-font-color;
}
.btn.btn-inverse {
	border-color: #fff;
	color: #fff;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
}
.btn-accent {
	border-color: $accent;
	color: $accent;
	&:hover {
		border-color: $btn-default-color;
	}
}
button {
	@extend .btn;
	@extend .btn-default;
	margin-top: 0px;
}
button#runcode {
	@extend .btn-primary;
}
