.categories-grid {
	margin-bottom: 0px;
	.category {
		position: relative;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 8px;
		padding-left: 50px;
		margin-bottom: 50px;
		border: 1px solid transparent;
		transition: border .2s linear;
		&:hover {
			border: 1px solid #D9D9D9;
		}
	}
	i {
		position: absolute;
		left: 10px;
		top: 17px;
		font-size: 24px;
		color: #828282;
	}
	a {
		color: #828282;
	}
}

.post {
	margin-bottom: 40px;

	h3 {
		margin-bottom: 0px;
	}

	.post-date {
		font-size: 13px;
	}
}

.invert-section .categories-grid {
	margin-bottom: 0px;
	.category {
		margin-top: 25px;
		margin-bottom: 25px;
		&:hover {
			border: 1px solid #fff;
		}
	}
	a {
		color: #fff;
	}
}

.category-list {
	list-style: none;
	padding-top:8px;
	padding-bottom: 20px;
	a {
		&:hover {
			color: $accent;
		}
	}
}