iframe.codeparser {
	border: 0px;
	width: 100%;
	img {
		display: none;
	}
}

.codeparser-wrap {
	margin-top:1.0em;
	border: 1px solid #ccc;
	display: inline-block;
	width: 100%;
	background-color:#f2f2f2;
}

.CodeMirror {
	float: left;
	width: 50%;
	height: auto;
	.CodeMirror-scroll {
		background: #fcfcfc;
	}
	pre {
	    line-height: 20px;
	}

}
.codeparser-preview {
	width: 50%;
	min-height: 300px;
	border: 0px;
	background-color:#f2f2f2;
}

#codeparser img {
	display: none;
}