.icon {
	float: left;
}
.icon_logout {
	border: 1px solid $link-color;
	width: 14px;
	height: 15px;
	&:before {
		background: #fff;
		display: block;
		height: 10px;
		margin-right: -9px;
		margin-top: 1px;
		font-size: 13px;
	    font-family: 'ElegantIcons';
	    content: '\24';
	    speak: none;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	}
}

.icon_login {
	border: 1px solid $link-color;
	width: 14px;
	height: 15px;
	&:before {
		background: #fff;
		display: block;
		height: 10px;
		margin-left: -5px;
		margin-top: 1px;
		font-size: 13px;
	    font-family: 'ElegantIcons';
	    content: '\24';
	    speak: none;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	}
}