.listing {
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 20px;
	.at-symbol {
		font-weight: bold;
		font-size: 30px;
		margin-right: 10px;
	}
	.icon_link_alt {
		margin-right: 25px;
	}
	.listing-content {
		margin-top: 20px;
	}
	.listing-category {
		color: $accent;
	}
	.listing-img-container {
		margin-bottom: 10px;
		position: relative;
	}
	.listing-clicks {
		position: absolute;
		padding: 5px 8px;
		right: 0px;
		top: 0px;
		background: #fff;
		.h5 {
			font-size: 18px;
		}
		.icon {
			margin-right: 5px;
			margin-top: 3px;
		}
	}
}

.listing-sponsored {
	// border: 1px solid #3d3d3d;
	background: #f7f7f7;
	padding: 10px 10px 20px 10px;
}

.listing.listing-no-image {
	.listing-title {
		margin-top: 25px;
	}
}

.listing-icon-image {
	text-align: center;
	background: #f7f7f7;
	display: inline-block;
	width: 100%;
	i {
		font-size: 50px;
		float: none;
		padding: 40px;
		display: block;
	}
}