.post-single {
	.post-img {
		margin-bottom: 40px;
		img {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}

	.page-header {
		margin-bottom: 30px;
		h1 {
			margin-top: 30px;
		}
	}

	.post-date {
		background: $bg-light;
		padding: 10px 15px;
		text-align: center;
		margin-bottom: 10px;
		width: 65px;
		height: 70px;
		cursor: default;
		.post-date-month {
			margin: 0px;
			color: #999;
		}
		.post-date-day {
			margin: 0px;
			color: #999;
		}
	}

	.comments-section {
		margin-top: 40px;
	}

	.comment {
		background: #fbfbfb;
		margin-bottom: 10px;
		padding: 30px;
		display: inline-block;
		width: 100%;
		.comment-user-avatar {
			img {
				border-radius: 50%;
			}
		}
		.comment-user {
			float: left;
			margin-right: 7px;
		}
		.comment-date {
			margin-top: 11px;
		}
		.comment-reply {
			display: block;
			margin-top: 10px;
			i {
				margin-top: 2px;
				margin-right: 5px;
			}
		}
	}

	.comment-form {
		margin-top: 40px;
		.comment-user-avatar {
			img {
				border-radius: 50%;
			}
			margin-top: 50%;
		}
		.comment-cancel {
			margin-right: 30px;
			margin-top: 30px;
			display: none;
		}
	}

	.post-paging {
		margin: 80px 0;
		display: inline-block;
		width: 100%;
		i {
			float: none;
		}
		.center {
			text-align: center;
		}
		.col-md-4 {
			margin-bottom: 20px;
			@media (max-width: $screen-sm-max) {
				text-align: center;
			}
		}
	}

	.post-meta {
		@media (max-width: $screen-sm-max) {
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}
}
.post h3 {
	margin-top: 0px;
}