.posts-grid {
	.post {
		margin-bottom: 50px;
	}
	.post-img-container {
		position: relative;
		margin-bottom: 12px;
	}
	.post-date {
		position: absolute;
		top: 0px;
		right: 0px;
		background: #fff;
		padding: 10px 15px;
		text-align: center;
		.post-date-month {
			margin: 0px;
			color: #999;
		}
		.post-date-day {
			margin: 0px;
			color: #999;
		}
	}
	.post-title {
		margin-top: 5px;
	}
	.post-category {
		font-size: 13px;
	}
	.by-line {
		text-align: right;
		font-size: 13px;
		.user-name {
			color: $heading-font-color;
		}
	}
	p {
		margin: 0px;
	}
}