.script {
	margin-bottom: 30px;
	.script-rating {
		margin-top: 0px;
		margin-bottom: 5px;
		display: inline-block;
	}
	h3 {
		margin-top: 10px;
	}
	.script-content {
		margin-top: 20px;
	}
	.script-img-container {
		position: relative;
		margin-bottom: 10px;
		img {
			display: block;
			width: 100%;
		}
	}
	.script-img-overlay {
		transition: opacity .3s linear;
		opacity: 0;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255, .8);
		text-align: center;
	}
	.script-category {
		color: #838383;
		font-size: 12px;
	}
	.script-rating {
		float: left;
		margin-right: 10px;
	}
	.script-links {
		
	}
	.script-ratings {
		font-size: 12px;
		color: $accent;
		margin-top: 10px;
		padding-top: 2px;
		display: block;
	}
	.script-links {
		@include vertical-align();
		a {
			margin-top: 0px;
		}
	}
	&:hover .script-img-overlay {
		opacity: 1;
	}
}

.script-single {
	.page-header {
		border-bottom: 0px;
		margin-bottom: 30px;
		h1 {
			float: left;
			margin-right: 20px;
		}
		.script-rating {
			float: left;
			font-size: 20px;
			margin: 10px 0 10px 0px;
		}
	}
	.script-description {
		border-left: 3px solid #f3f3f3;
		margin-bottom: 20px;
		padding: 7px 20px;
		line-height: 1.5em;
	}
	.script-details-container {
		.btn {
			display: block;
		}
		margin-bottom: 40px;
	}
	.script-details {
		border-left: 3px solid #f3f3f3;
		padding: 7px 20px;
		.script-detail {
			margin-bottom: 3px;
		}
	}
	.script-features-container {
		margin-bottom: 40px;
		.banner-block {
			margin-top: 76px;
		}
	}
	.script-stats {
		padding: 17px 0;
		i {
			font-size: 30px;
			color: #3c3c3c;
		}
		.script-stat-count {
			font-size: 26px;
			width: 100%;
			margin-left: 10px;
		}
	}
}

.script-rating {
	display: inline;
	i {
		color: $accent;
		margin-right: .1em;
	}
}

.script-price {
	font-weight: bold;
}

.reviews-section {
	margin-top: 80px;
	.banner-block {
		margin-top: 76px;
	}
}

.related-script {
	background-repeat: none;
	background-size: cover;
	text-align: center;
	height: 260px;
	padding-top: 70px;
	.related-script-name {
		color: #fff;
	}
	.btn {
		background: transparent;
		border-color: #fff;
		color: #fff;
	}
}

.review {
	background: #fbfbfb;
	margin-bottom: 10px;
	padding: 30px;
	display: inline-block;
	width: 100%;
	.review-title {
		margin-bottom: 15px;
	}
	.review-user-avatar {
		img {
			border-radius: 50%;
		}
	}
	.review-content {
		margin-bottom: 15px;
	}
	.review-user {
		margin-right: 7px;
	}
	.review-date {
		margin-top: 11px;
	}
	.review-reply {
		display: block;
		margin-top: 10px;
		i {
			margin-top: 2px;
			margin-right: 5px;
		}
	}
	.review-rating {
		position: absolute;
		top: 0;
		right: 0;
		i {
			color: #6B6B6B;
		}
	}
}

.rating-avg {
	color: $accent;
	margin: 20px 0;
	i {
		font-size: 20px;
	}
	.script-rating {
		margin-right: 10px;
	}
	.rating-text {
		line-height: 23px;
	}
}

.review-form {
	margin-top: 40px;
	.review-user-avatar {
		img {
			border-radius: 50%;
		}
		margin-top: 50%;
	}
	.review-cancel {
		margin-right: 30px;
		margin-top: 30px;
		display: none;
	}
}

.marketplace-search-form {
	margin-top: 40px;
	button.btn {
		margin-top: 0px;
	}
}