.sidebar-item {
	background: $bg-light;
	margin-bottom: 40px;
	padding: 0px 20px 40px;
	a {
		display: block;
	}

	.children {
		display: none;
	}
}
.sidebar-item-title {
	background: #fff;
	color: #b7b7b7;
	display: inline-block;
	width: auto;
	padding: 20px;
}