.social-share {
	z-index: 1000;
	position: relative;
	background: $bg-light;
	clear: both; 
	width: 65px;
	height: 70px;
	text-align: center;
	i {
		font-size: 22px;
		float: none;
		line-height: 70px;
		color: $body-font-color;
		&:hover {
			color: #3d3d3d;
		}
	}
	img {
		max-width: 24px;
		margin-top: 23px;
		opacity: .7;
		&:hover {
			opacity: 1;
		}
	}
	.social-share-options {
		max-height: 0px;
		transition: max-height .4s ease-in-out;
		overflow: hidden;
	}
	&:hover .social-share-options {
		max-height: 490px;
	}
	.social-share-option {
		background: $bg-light;
		clear: both; 
		width: 65px;
		height: 70px;
		text-align: center;			
	}

}