@media (min-width: $screen-sm-min) {
	.pull-right-sm {
	  float: right;
	}
}
@media (min-width: $screen-md-min) {
	.pull-right-md {
	  float: right;
	}
}
@media (min-width: $screen-lg-min) {
	.pull-right-lg {
	  float: right;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	color: $heading-font-color;
}

@media (max-width: $screen-md-min) {
	h1, .h1 {
		font-size: 30px;
	}
	h2, .h2 {
		font-size: 22px;
	}
	h3, .h3 {
		font-size: 18px;
	}
}

body, p {
	font-family: $body-font-family;
	color: $body-font-color;
}
p {
	line-height: 2em;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}
p img {
	display: block;
	margin: 20px;
}
.left {
	float: left;
}
.right {
	float: right;
}
a {
	transition: all .2s ease-in-out;
}

label.image-radio > input{
  visibility: hidden; 
  position: absolute; 
}
label.image-radio > input + img{
  cursor:pointer;
  background: transparent;
  transition: all .2s linear;
}
label.image-radio > input:checked + img{
  background: $selected-light;
}

// #container {
// 	overflow: hidden;
// }

.container {
	max-width: 1524px;
}
@media (max-width: 767px) {
	.container {
		max-width: 340px;
		margin: 0 auto;
	}
}

.large-text {
	font-size: 62px;
}

.invert-section {
	h1, h2, .icon, p {
		color: #fff;
	}
}
.nav-content-spacer {
	height: 60px;
	display: block;
}

#main {
	margin-top: 120px;
}

.system-message {
	margin-top: 0px;
	margin-bottom: 40px;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
	-webkit-animation: rotating 1s linear infinite;
	-moz-animation: rotating 1s linear infinite;
	-ms-animation: rotating 1s linear infinite;
	-o-animation: rotating 1s linear infinite;
	animation: rotating 1s linear infinite;
}

.load-more {
	text-align: center;
	margin: 40px 0;
	display: inline-block;
	width: 100%;
}
#loading-message {
	display: none;
}
#loading-icon {
	font-size: 40px;
	text-align: center;
}
.loading-icon-container {
	display: block;
	text-align: center;
	height: 40px;
	width: 40px;
	margin: 0 auto;
	display: none;
}
.ajax-preload {
	max-height: 0px;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	-webkit-transition: max-height 1.5s;
	-moz-transition: max-height 1.5s;
	transition: max-height 1.5s;
}
.ajax-loaded {
	max-height: 1500px;
}