#footer {
	background: $bg-light;
	margin-top: 60px;
	padding: 60px 0px;
	border-top: 1px solid $border-color;
	.nav li a {
		color: #a1a1a1;
		padding: 10px 0px;
		&:hover {
			background: transparent;
			color: #3d3d3d;
		}
	}
	#footer-logo {
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}
}

#footer-copy {
	background: $bg-light;
	padding: 20px 0;
	border-top: 1px solid $border-color;
}

.hidden-credit {
	visibility: hidden;
}