.navbar-brand {
	max-height: $navbar-height + px;
	padding: 15px 15px;
	img {
		max-height: 30px;
	}
}

.navbar-nav {
	a {
		font-family: $nav-font-family;
		font-weight: $nav-font-weight;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 1px;
		i {
			margin-right: 10px;
			margin-top: 2px;
		}
	}
}

.dropdown-menu {
	min-width: 200px;
	li a {
		font-size: 12px;
		padding: 5px 20px;
	}
}

.user-avatar-container {
	float: left;
	margin-top: -5px;
	margin-right: 10px;
}
.user-avatar {
	border-radius: 50%;
}
@media (min-width: $screen-md-min) {
	.navbar-user {
		margin-left: 20px;
	}
}
.icon.arrow_carrot-down {
	float: right;
	margin-left: 5px;
}
.icon.icon_logout {
	margin-top: 0px;
}