.sidebar-item {
	background: $bg-light;
	margin-bottom: 40px;
	padding: 0px 20px 40px;

	.sidebar-item-title {
		background: #fff;
		color: #b7b7b7;
		padding: 8px 20px;
		width: auto;
		display: inline;
		line-height: 32px;
	}
	.icon {
		font-size: 20px;
		line-height: 18px;
		margin-right: 10px;
	}
	a {
		color: #8f8f8f;
		display: block;
	}
	ul {
		margin-top: 30px;
		li {
			.icon {
				transition: transform 0.1s ease-in; 
			}
		}
		ul {
			max-height: 117px;
			display: block;
			overflow: hidden;
			transition: max-height 0.7s ease-in; 
			margin:0px;
			list-style: none;
			li {
				a {
					padding: 10px 0px;
				}
			}
		}
		li:hover {
			ul.children {
				max-height: 1000px;
			}
			.icon.arrow_right {
				// transform: rotate(90deg);
			}
		}
	}
}
.sidebar-no-title {
	h4 {
		text-align: center;
	}
	padding-top: 20px;
}

.sidebar-item.sidebar-directory {
	.icon {
		float: right;
	}
	.children {
		max-height: 0px;
	}
	li:hover {
		ul.children {
			max-height: 0px;
		}
	}
	.children.nav-open {
		max-height: 1000px !important;
	}
}