@charset "utf-8";
/* CSS Document */

p {
	height:30px;
	font-size:1.2em;
	color:green;
	border:1px solid black;
}
p+p {
	height:20px;
	font-size:0.9em;
	color:black;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}