@charset "utf-8";
/* CSS Document */

body {
	background:url(adv_ex1.png) repeat center center;
}
p.external {
	position:absolute;
	top:200px;
	left:50px;
	padding:5px;
	height:40px;
	font-size:0.9em;
	font-family::"Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height:40px;
	border:1px solid black;
}
